
:root {
    --font-main: 'Quicksand', sans-serif;
    --default-radius: 10px;
    --default-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
        
    --primary-very-light: #EAF2F8;
    --primary-light: #A9CCE3;

    --primary: #2980B9;
    --primary-hover: #4589b6;
    
    --primary-dark:#154360;
    --primary-dark-hover:#2b5670;

    --grey-very-light: #ebedefb2;
    --grey-light: #f4f6f6ec;
    --grey: #566573;
    --grey-dark: #212F3C;
}


html {
    box-sizing: border-box;
    font-size: 70%;
    font-family: var(--font-main);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    
    background: var(--primary-very-light);
}

header {
background-color: #ffffff;
display: flex;
width: 100%;
padding: 1rem 10%;
align-items: center;
box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);

}

header i {
font-size: 2.5rem;
margin-right: 1rem;
color: var(--primary-dark);
}

header h1 {
    color: var(--primary-dark);
    font-size: 2rem;
    
}

main {
    background: var(--primary-very-light);
    align-items: center;
    display: flex;
    flex-direction: column;
     padding: 3rem 2rem;
    flex-wrap: nowrap;
}

.container {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 border: solid 1px blue;
}

.rate{
    color: var(--grey-dark);
    font-weight: 700;
    font-size: 2.75rem;
    margin: 2rem auto;
}

.component-container{
    background-color: #ffffff;
    border-radius: var(--default-radius);
    box-shadow: var(--default-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25rem;
    min-width: 20rem;
    max-width: 50rem;
    width: 100%;
    align-items: center;
    margin: 3rem;
    padding: 3rem;
}

.heading-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.currency-name{
    color: var(--grey-dark);
    display: inline;
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
}

.currency-flag {
    margin-left: 2rem;
    height: 4rem;
    border-radius: var(--default-radius);
}

.amount-label{
    color: var(--grey);
    font-size: 1.2rem;
    font-weight: 700;
    padding: .5rem 2rem;
    text-align: left;
    width: 100%;
}

.amount-input {
    color: var(--grey);
    border: 1px solid var(--grey-very-light);
    background-color: var(--grey-very-light);
    border-top-left-radius: var(--default-radius);
    border-bottom-left-radius: var(--default-radius);
    padding-left: 2rem;
    
    width: 100%;
}

.amount-input:focus, .amount-input:hover {
    background-color: var(--grey-light);
    border: 1px solid var(--grey-light);
    outline: none;
}


.currency-container{
display: flex;
width: 100%;

}

.currency {
    border-top-right-radius: var(--default-radius);
    border-bottom-right-radius: var(--default-radius);
    background-color: var(--primary);
    color: #ffffff;
    cursor: pointer;
    border: 1px solid var(--primary);
    border-left: none;
    padding: 1rem;
    -webkit-appearance: none;
}

.currency:hover {
background-color: var(--primary-hover);
}

.currency, .amount-input{
   border-radius: none;
    height: 6rem;
    font-family: var(--font-main);
    font-size: 2rem;
    font-weight: 700;
}


.button{
    background-color:var(--primary-dark);
    color: #ffffff;
    border: none;
    border-radius: var(--default-radius);
    font-family: var(--font-main);
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    width: 13rem;
    box-shadow: var(--default-shadow);
    padding: 1.5rem 1rem;
}

.button:hover {
    background-color: var(--primary-dark-hover);
    transform: translateY(3px);
    transition: all ease .2s;
}


.button:focus {
outline: none;
}

.button:active {
    outline: none;
    transform: translateY(6px);
    transition: all ease .1s;
}

.button i {
    font-size: 1.75rem;
    padding-left: 1rem;
}

@keyframes left {
    0% {
       
    }

    50% {
        transform: translateX(-6px);
    }

    100% {
        transform: translateX(6px);
    }
}

@keyframes right {
    0% {
       
    }

    50% {
        transform: translateX(6px);
    }

    100% {
        transform: translateX(-6px);
    }
}

.move-left {
animation: left .2s ease-in;
transition: all ease .1s;
}

.move-right {
animation: right .2s ease-in;
transition: all ease .1s;

}


/* small screens under 768px   */
@media only screen and (max-width: 768px){
    html {
        font-size: 40%;
    }
    
    header{
        justify-content: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .component-container {
        height: 22rem;
        
    }
}


/* screens under 992px */
@media only screen and (max-width: 992px) {

    html { 
        font-size: 62.5%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid 1px red;
    }

    
}